<!-- /container -->
<div class="container">

  <form class="form-signin" method="post" action="/register">

    <h2 class="form-signin-heading">请填写注册信息</h2>

    <label for="inputUsername" class="sr-only">用户名</label>

    <input type="username" id="inputUsername" name="username" class="form-control" placeholder="用户名" required autofocus>

    <label for="inputEmail" class="sr-only">电子邮箱</label>
    <input type="email" id="inputEmail" name="email" class="form-control" placeholder="电子邮箱" required autofocus>
    <label for="inputEmail" class="sr-only">密   码</label>
    <input type="password" id="inputEmail" name="password" class="form-control" placeholder="密码" required autofocus>

    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>

  </form>

</div> <!-- /container -->
