<script type="text/javascript" src="/js/app.js"></script>
<h1>Hello Reviews</h1>
<div ng-controller="ReviewsController">
  <ul>
    <li ng-repeat = "r in reviewsController.reviews">
      {{ r.title + "," + r.text + "," +r.category}}
    </li>
  </ul>
</div>
