<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>甘肃省博物馆在线监测系统</title>
  <link rel="stylesheet" href="/styles/bootstrap.min.css" />
  <script type="text/javascript" src="/js/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body class="skin-blue">

<%- body %>

</body>
</html>
